#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-width: 350px;
}

/* 
.loading-animation {
  max-width: 150px;
  display: flex;
  justify-content: center;
} */

.cat-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}